[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google = "==3.0.0"
google-cloud-pubsub = "==2.4.1"
google-cloud-storage = "==1.37.1"
google-cloud-datastore = "==2.1.0"
google-cloud-secret-manager = "==2.4.0"
sdc-cryptography = "==1.0.0"
voluptuous = "==0.12.1"
structlog = "==21.1.0"
python-dateutil = "==2.8.1"
pydantic = "==1.8.2"
requests = "==2.25.1"
PyYAML = "==5.4.1"
urllib3 = "==1.26.6"

[dev-packages]
pytest = "==6.2.3"
pytest-cov = "==2.11.1"

[requires]
python_version = "3.8"
